<%- include('partials/start') %>
<%- include('partials/nav') %>
<%- include('partials/hero') %>
<%- include('partials/footer') %>
<script type="module" src="..//script/script.js"></script>

</body>
</html>